@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    background-color: #111111;
    color: white;
    font-family: 'Inter';
    /* font-optical-sizing: auto; */
    font-weight: 800;
    font-style: normal;
}

header {
    height: 10vh;
    /* width: 99.65vw; */
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    border: solid white 4px;
}

#headerLogoContainer {
    /* height: 100%; */
    /* width: 10vh; */
    display: flex;
    align-items: center;
    /* background-color: blue; */
}

#headerMenuContainer {
    /* height: 100%; */
    /* width: 70vw; */
    display: flex;
    gap: 3vw;
    justify-content: right;
    align-items: center;
    margin-right: 5vw;
    /* background-color: green; */
}

button {
    background-color: #FFF8E8; 
    font-size: 1.4em;
    color: #302e2b;
    height: 5vh;
    width: 150px;
    /* background-color: magenta; */
    border: solid 1px #FFF8E8;
    border-radius: 2.5vh;
    transition: 250ms;
}

button:hover {
    cursor: pointer;
    border: solid 5px #d5cebe;
}

main {
    height: 90vh;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#spacerMain {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid white 4px;
}

#menuContainer {
    height: 100%;
    min-width: 25vw;
    border: solid white 4px;
    border-top: none;
    border-bottom: none;
}

#sliderContainer {
    /* height: 100%; */
    /* width: 100%; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

#amountOfValuesContainer {
    margin-top: 3vh;
}

#amountOfValuesContainers {
    margin-top: 3vh;
}

#amountOfValues {
    margin-top: 3vh;
}
 
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 18vw;
    height: 5px;
    margin-bottom: 1.6vh;
    background: white;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: black;
    border: solid white 4px;
    border-radius: 2rem;
    cursor: pointer;
    transition: 50ms ease-in-out;
}

p {
    font-size: 1.4em;
}

#chartContainer {
    /* background-color: rgb(205, 212, 201); */
    height: 30vw;
    /* width: 50vw; */
    aspect-ratio: 1.618 / 1;
    border: solid white 4px;
    /* border-radius: 50em; */
}

#path {
    stroke: white;
    stroke-width: 4px;
    stroke-linejoin: round;
    transition: 400ms;
}

#path:hover {
    cursor: pointer;
    /* stroke-width: 10px; */
}

footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white 4px;
}

@media screen and (max-width: 1920px) {
    * {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 479px) {
    main {
        flex-direction: column;
    }

    button {
        width: 25vw;
    }

    #menuContainer {
        width: 98vw;
        padding-bottom: 30px;
        border-bottom: solid white 4px;
    }

    input[type="range"] {
        width: 75vw;
    }

    #spacerMain {
        display: flex;
    }

    #chartContainer {
        width: 100%;
        height: 100vw;
        border-top: none;
        border-bottom: none;
    }
}

#hiddenHover {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 60px;
    visibility: hidden;
    font-size: 1.5em;
    font-weight: 700;
    background-color: white;
    color: black;
    padding-left: 40px;
}

#hiddenHoverColor {
    position: absolute;
    height: 20px;
    visibility: hidden;
    width: 20px;
}